* {
	box-sizing: border-box;
}

/* Grid measurements: 
	960px wide including 12 20 px gutters
	Also want 20 pixels on either side for small screens, so total width is 1000px
*/

.row {
	/*max-width:1000px;*/
	padding-left:20px;
	padding-right:20px;
	margin:0 auto;
}	

/*Clearfix*/
.row::before, 
.row::after {
	display:table;
	content: '';
}

.row::after {
	clear:both;
}

.col-3, .col-4, .col-6, .col-8, .col-9 .col-12 {
	float:left;
	 /*Each column has a half gutter (10px) on either side*/
	 padding-left: 1.041666666%; /*10/960*/
	 padding-right: 1.041666666%;
}

/*Mobile Default*/
.col-3, .col-4, .col-6, .col-8, .col-9, .col-12 {
	width: 100%;
}

/*Media Query for larger screens*/
@media only screen and (min-width: 640px) {
	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33333%;
	}

	.col-6 {
		width: 50%;
	}

	.col-8 {
		width: 66.666666%;
	}

	.col-9 {
		width: 75%;
	}
}


